.loader {
  height: calc(100vh + 200px);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 9999;
  pointer-events: none;
}

.loader svg {
  height: 100%;
  width: 100%;
}

.loader svg path {
  stroke: black;
  fill: #121212;
  stroke-width: 1px;
}
